<div class='container'>
  <div class="d-flex justify-content-center pb-5 align-top">
    <p id="notice"><%= notice %></p>
  </div>

  <%= button_to 'Iniciar', hosts_run_path, method: :get, class: 'btn btn-primary btn-lg btn-block shadow-lg p-3 mb-5  rounded' %>

</div>


