





<div class="container"> 
<div class="d-flex justify-content-center"> 
<div class="roe"> 
    <p class="text-center h1">Novo destino</p>
    <%= render 'form', host: @host %>

    <%= link_to 'Voltar', hosts_path, class:"btn btn-dark", :style => 'color: white';%>
</div>
</div>
</div>
